 /*for navbar*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 /*outline*/
a {
    outline: 0;
    }
 /*for body class*/
body{
    font-family: 'Montserrat', sans-serif;
}
 /*image classes*/
img{
    max-width: 100%;
    height: auto;
    
}
 /*for front image*/
.index-main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 /*for first index grid*/
.index-grid-img-1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    margin-left:20px;
    margin-right: 20px;
}
 /*2021 collections*/
.collectionslogan{
    padding-left:50px;
    color: black;
}
 /*model grid*/
.index-grid-img-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-start: 1;
    grid-row-end: 4;
    grid-gap: 20px;
    margin-left:20px;
}
 /*footer at bottom*/
.footer-container{
    align-content: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    background-color: black;
    object-fit: cover;
    padding-bottom:30px;
}
 /*footer text*/
.footer-container .footer-1, .footer-2, .footer-3, h5,h4,h2,h3,h6,p{
    color:white;
}
 /*footer length between text*/
.footer-container .footer-1 h2,p,h5,h6{
    padding-left:50px;
    padding-top:20px  
}
 /*footer length*/
.footer-container .footer-2,.footer-3{
    padding-top:70px;
}

