.bg-images{
  text-align: center;
}
.bg-images img{
  object-fit: cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left:50px;
  
}
.btn-of-img{
  border:none;
  position: absolute;
}
.cart-details{
  padding-left:50px;
}
.cart-details li{
  list-style-type:decimal;
}
.hr-of-cart-head{
  border: 1px solid black;
  width:120px;
}
.last-hr-of-product{
  border: 1px solid black;
  width:70%;
}
.btn-clear-list{
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border:none;
}
.btn-clear-list:hover{
  background-color: #ece3e3;
}
.ul_pr li{
  font-size:18px;
}
img{
  cursor: pointer;
}